<section id="faq">
  <div class="container">
    <h1>About</h1>
    <p>While the Internet allows people to find each other and do things together, it is still difficult for groups of people to pool money easily and transparently.  As a result, we see initiatives, projects, movements popping up here and there that disappear quickly from lack of funding. Imagine how many wonderful things don’t happen in the world because funding - which is oxygen for most organizations - is difficult to sustain in the earliest phases of a project. Without an easy way to raise and spend money, it’s hard to manage and grow many of these seeds of an idea that could change the world.</p>

    <p>Meetups, open source projects, parent associations, neighborhood associations, pet projects, clubs, unions, movements, non-profits, business incubators - in order to operate, all of them are forced to use a physical glass jar, ask a sponsor to directly pay their expenses or front the huge overhead of setting up and managing a corporation or a non-profit. It’s either inefficient and opaque or it’s overkill.</p>

    <p>OpenCollective sits right in the middle. We enable groups to quickly set up a collective, raise funds and manage them transparently.</p> 

    <p>We want all those seeds to have a chance to grow, to bring their ideas to life. We believe everyone should have the tools to create the organizations of tomorrow. And we are dedicating ourselves to making that happen!</p>

    <p>Want to help? <a href="mailto:info@opencollective.com?subject=I%20want%20to%20help">Tell us what you want to do</a>.</p>
    
    <p>Read more with our essays: 
      <ul>
        <li><a href="https://medium.com/open-collective/a-new-form-of-association-for-the-internet-generation-part-1-6d6c4f5dd27f#.i2x2jjp79" target="_blank">A New Form of Association For the Internet Generation - Part 1</a></li>
        <li><a href="https://medium.com/open-collective/a-new-form-of-association-for-the-internet-generation-part-2-fe6d8415f444#.j41n366wg" target="_blank">A New Form of Association For the Internet Generation - Part 2</a></li>
      </ul>
    </p>
  </div>
</section>

<section id="media">
  <div class="container">
    <p align="center">
      <img src="/public/images/opencollectivelogo.svg" /><br />
      Download the <a href="/public/images/opencollectivelogo.png">Open Collective Logo</a> in high resolution: <a href="/public/images/opencollectivelogo.svg">svg</a> - <a href="/public/images/opencollectivelogo.png">png</a>  
    </p>
  </div>
</section>
