    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><img src="/public/images/word.svg"></div>
                <div class="intro-heading"><h3 class="tagline">Recurring funding for groups</h3></div>

                <a href="#signup" id="signupBtn" class="page-scroll btn btn-xl">Join the waiting list</a>
                <div id="thanksContainer" class="container hidden">
                  <div class="row center">
                      <img src="/public/images/thanks.svg" />
                      <h2 class="section-heading">Thank you for joining us!</h2>
                      <h3 class="section-subheading text-muted">We'll get in touch shortly</h3>
                  </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Do Great Things Together -->
    <section id="preview" class="bg-light-gray">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 text-center">
                <img src="/public/images/app-preview.png" width="100%" class="preview apush-5 bpush-5">
              </div>
              <div class="col-sm-6 text-center">
                <h2 class="section-heading">Do Great Things Together</h2>
                <h3 class="section-subheading text-muted">Collect money, submit expenses and let anyone see your budget.</h3>
              </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How does it work?</h2>
                    <h3 class="section-subheading text-muted">No need to create a new bank account!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/public/images/icon1.svg" class="stepsIcons" />
                    </span>
                    <h4 class="service-heading">Create</h4>
                    <p class="text-muted">Connect your PayPal account and we take care of the rest. Everyone in the collective can see total money collected, how much is left and where it was spent.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/public/images/icon2.svg" class="stepsIcons" />
                    </span>
                    <h4 class="service-heading">Collect</h4>
                    <p class="text-muted">Share your mission and activities on your collective's public page. People can support you with any amount on a monthly basis.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/public/images/icon3.svg" class="stepsIcons" />
                    </span>
                    <h4 class="service-heading">Spend</h4>
                    <p class="text-muted">Anyone in your collective can submit expenses. The owner of the collective can approve those expenses with one tap.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="yeoman">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fund a Side Project</h2>
                <h3 class="section-subheading text-muted">Yeoman – an open source project – uses Open Collective to share their expenses and let their community chip in.</h3>
                <img src="/public/images/yeoman.png" />
                <h3 class="section-subheading text-muted"><a href="/yeoman">Visit their open collective</a></h3>
            </div>
        </div>
      </div>
    </section>
    
    <section id="usecases" class='bg-light-gray'>
      <div class="container" id="wwcode">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Supercharge Your Local Chapters</h2>
                <h3 class="section-subheading text-muted">"Women Who Code" uses Open Collective to empower local chapters to raise funds and have their own budget.</h3>
                <img src="/public/images/wwcode.jpg">
                <h3 class="section-subheading text-muted">
                  Visit their open collectives: <a href="/wwcodedc">Washington DC</a> - <a href="/wwcode-seattle">Seattle</a>
                </h3>
            </div>
        </div>
      </div>
    </section>

    <section id="network">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Network of Hosts</h2>
                <h3 class="section-subheading text-muted">We are building a network of host organizations - legal entities that host Open Collectives under their umbrella. They are the heroes that empower people in their community to create associations without friction.</h3>
                <img src="/public/images/earth-placeholder.png">
            </div>
        </div>
      </div>
    </section>


    <section id="signup">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Join the waiting list</h2>
              <h3 class="section-subheading text-muted">We are still in private beta and we are slowly onboarding more and more collectives. Reserve your place!</h3>
          </div>
        </div>  
        <div class="row form-group">
          {{>mailchimp}}
        </div>  
      </div>  
    </section>
    
  <!-- jQuery -->
  <script src="/public/js/jquery.js"></script>

  <script type="text/javascript">

  /* Gets parameters from URL */
  function getUrlParameter(sParam){
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');

    for (var i = 0; i < sURLVariables.length; i++){
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam){
        return sParameterName[1];
      }
    }
    return null;
  }

 var source = getUrlParameter('source') || 'homepage';

  $("#signupForm").on('submit', function(e){
    e.preventDefault();
    $.ajax({
      url:'/apply',
      data:$(this).serialize()+'&source='+source,
      method: 'post',
      success: function(data) {
        ga('send', 'event', 'form', 'submit', 'apply');
        fbq('track', 'CompleteRegistration');
      }
    });

    $('#thanksContainer').removeClass('hidden');
    $('#signupBtn').hide();
    $('#signup').hide();

    $('html,body').animate({
      scrollTop: $("body").offset().top
    },'fast');
  });

  <!-- Facebook Pixel Code -->
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','//connect.facebook.net/en_US/fbevents.js');

  fbq('init', '860571030678308');
  fbq('track', "PageView");
  <!-- End Facebook Pixel Code -->
</script>

<noscript>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=860571030678308&ev=PageView&noscript=1"/>
</noscript>
